/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* container */
.container {
	max-width: 900px;
	margin: 0 auto;
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: center; 
}	

/* NAVIGATION */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
nav section {
    display:flex;
    justify-content: space-between;
}

nav hr {
    display:none;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column-reverse;
    }
}

nav a {
	text-decoration: none;
    color: lightgray;
    margin-right: 60px;
}

@media (max-width: 800px) {
    nav section {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        text-align: center;
    }
    nav a {
        margin-right: 40px;
    }
}

@media (max-width: 500px) {
    nav section {
       flex-direction: column;
       margin-top: 0px;   
    }
    
    nav hr {
        display: block;
        overflow: hidden;
        border: 1px solid lightgray;
        width: 500px;
        
    }
    .darkgrey {
        border: 1px solid darkgray;
    }
}

/* HEADER */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
header section {
	text-align: center; 
	margin-left: 90px;
}
header section h1 {
	 font-size: 60px; 

}

@media (max-width: 800px) {
    header figure {
        display: none;
    }
    header {
        justify-content: center;
    }
    header section {
        margin-left: 0px;
    }
}

/* HORIZONTAL LINE */
hr {
	width: 100%;
	border: 1px solid black;
} 

/* FIRST CONTENT */
.first-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (max-width: 500px) {
    .first-content {
        flex-direction: column;
    }
    .first-content section:first-child {
        margin-bottom: 30px;
    }
}

/* FIGURE */
main figure img {
	width: 100%;
}

/* SECOND CONTENT */
.second-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (max-width: 500px) {
    .second-content {
        flex-direction: column;
    }
    .second-content section:first-child {
        margin-bottom: 30px;
    }
    .second-content section:last-child {
        margin-top: 30px;
    }
}

/* FOOTER */
footer {
	margin-top: 30px;
}
footer p {
	
	margin-top: 10px;
	
}
footer>p {
	text-align: center;
	margin-top: 30px;
}
/* footer address {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
} */


	
 
 

